@{
    ViewData["Title"] = "Minmo's Food Delivery";
}

<head>
    <link rel="stylesheet" href="~/css/home.css" />
</head>

<div class="text-center">
    <h1 id="hungry" class="display-4">Hungry?</h1>
    <p id="sub">Minmo delivers anywhere in your city!</p>
    <br />
    <img id="logo" src="~/css/Resources/logo.svg" />
</div>
