@{
    ViewData["Title"] = "About Us";
}

<head>
    <link rel="stylesheet" href="~/css/about.css" />
</head>

<div class="text-center">
    <h1 id="about">@ViewData["Title"]</h1>

    <h2 id="story">Our Story</h2>
    <p id="story-content">
        Minmo's Delivery allows you to get the best products of your city in a few minutes.
        We connect users, businesses and couriers to make that possible
        The project was born with the aim of transforming the way users
        acquire what they need,making cities more accessible.
    </p>
    <br />
    <h2 id="offer">What We Offer</h2>
    <p id="offer-content">
        Simplicity, convenience, swiftness.
        <br />
        And, of course, delicious food!
        <br />
        Minmo's got you covered.
    </p>
    <br />
    <h2 id="contact">Contact Us</h2>
    <ul>
        <li>Email: minmo.delivery@gmail.com</li>
        <li>Address: 11 Minmo World</li>
        <li>Phone: 555-555-656-00</li>
    </ul>
</div>
