@{
    ViewData["Title"] = "About Us";
}

<head>
    <link rel="stylesheet" href="~/css/about.css" />
</head>

<div class="text-center">
    <h1 id="about">@ViewData["Title"]</h1>

    <h2>Our Story</h2>
    <h5>
        We made this because we were told to.
        <br />
        LMAO
    </h5>
    <br />
    <h2>What We Offer</h2>
    <h5>
        Simplicity, convenience, swiftness.
        <br />
        Minmo's got you covered.
    </h5>
    <br />
    <h2>Contact Us</h2>
    <h5>
        Email: minmo.delivery@gmail.com
        <br />
        Phone: 555-555-656-00
    </h5>
</div>
