body {
    background-color: #FBD148;
    font-weight: bold;
    font-style: oblique;
    font-variant-caps: all-small-caps;
    user-select: none;
}

/*::selection {
    background: #A2D2FF;
}*/

.item-back ::-webkit-scrollbar-track {
    border-radius: 100%;
    background: #FBD148;
}

.item-back ::-webkit-scrollbar-thumb {
    border-radius: 100%;
    background: white;
}

/*menu*/
.menu {
    display: flex;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    align-self: center;
    border-radius: 20px;
    height: 400px;
    /*width: 1152px;*/
    width: 100%;
}

#title {
    font-weight: bolder;
    font-style: oblique;
    font-size: 72px;
    font-variant-caps: all-small-caps;
}

/* main card div */

.item {
    background-color: transparent;
    border-radius: 20px;
    position: relative;
    perspective: 500px;
    font-weight: bold;
    font-style: oblique;
    font-variant-caps: all-small-caps;
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    height: 100%;
    /*width: 350px;*/
    width: 100%;
    padding: 10px;
}


/* card wrapper: nests card front/back, resolves animation jitter/flicker */

.item-wrap {
    background-color: transparent;
    position: relative;
    width: 100%;
    height: 100%;
    transition: 0.75s cubic-bezier(0.165, 0.84, 0.44, 1);
    transform-style: preserve-3d;
    align-content: center;
}


/* card animation on hover */

.item:hover .item-wrap {
    transform: rotateY(180deg);
}

/* card front/back */

.item-front,
.item-back {
    background-color: white;
    border-radius: 20px;
    position: absolute;
    padding: 25px;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    justify-self: center;
    justify-content: center;
    align-content: center;
    align-self: center;
}

.item-list-normal {
    height: 100%;
    overflow: auto;
}

.item-list-admin {
    height: 245px;
    overflow: auto;
}

.item-back {
    transform: rotateY(180deg);
    text-align: center;
    font-size: 20px;
    justify-content: center;
    align-content: center;
    background-color: #1F1D36;
    color: white;
}

.item-image {
    width: 75%;
    position: absolute;
    bottom: 0;
    margin-bottom: 25px;
}

#name {
    width: 100%;
    font-size: 24px;
    text-align: center;
    font-weight: bolder;
}

.allergens h6 {
    list-style: none;
    text-align: center;
    position: relative;
    color: #A2D2FF;
    font-size: 18px;
    font-weight: bolder;
}

#name, #price, #total {
    font-weight: bolder;
}

#price {
    font-size: 24px;
    color: greenyellow;
}

@keyframes hue-shift {
    0% {
        background-color: white;
    }

    50% {
        background-color: #A2D2FF;
    }

    100% {
        background-color: white;
    }
}

#login, #buy, #order-products, .remove-product {
    /* animation: hue-shift 2s ease-in-out infinite;*/
    background-color: #A2D2FF;
    border-radius: 20px;
    width: 75%;
    text-align: center;
    margin-bottom: 15px;
    margin-left: 30px;
    text-decoration: none;
    cursor: pointer;
}

#order-products {
    transition: 0.15s cubic-bezier(0.25,0.25,0.33,0.75);
    transform-style: preserve-3d;
    perspective: 500px;
}

    #order-products:hover {
        transform: scaleX(85%) !important;
    }

#input-address,
#label-address,
#input-tel,
#label-tel {
    display: none;
    transition: 1s ease-out;
}

#input-address,
#input-tel {
    width: 100%;
}

#label-address,
#label-tel {
    font-weight: bold;
    font-size: 20px;
}

#name #buy {
    color: white;
    background-color: transparent;
}

.remove-product {
    color: mediumvioletred;
    background-color: transparent;
}

#login {
    display: block;
    margin: auto;
    margin-bottom: 10px;
}

#buy, .remove-product {
    margin: 0px;
    margin-bottom: 10px;
    padding: 0px;
    width: 100%;
    justify-self: center;
    justify-content: center;
    justify-items: center;
}

.remove-product {
    margin-right: 25px;
}

/*cart*/

.cart {
    display: grid;
    list-style: none;
    padding: 10px;
    justify-content: center;
    align-content: center;
    text-align: center;
    border-radius: 20px;
    background: white;
    height: 250px;
    /*width: 1150px;*/
    width: 100%;
    visibility: hidden;
    transition: .5s ease-in-out;
}

#products {
    font-size: 20px;
    height: 75px;
    width: 100%;
    justify-self: center;
    overflow: auto;
    margin-bottom: 50px;
}

#order {
    width: 25%;
    display: block;
    position: absolute;
    margin: auto;
    bottom: 0;
    text-align: center;
    justify-self: center;
    justify-content: center;
    justify-items: center;
    cursor: pointer;
}

#order-title {
    display: inline-flex;
    position: absolute;
    justify-self: center;
    padding-top: 10px;
}

#user-order, #subtitle-user-order {
    font-weight: bolder;
    display: inline-flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

#total {
    font-size: 28px;
}

#create {
    font-size: 24px;
    transition: .25s ease-in-out;
}

    #create:hover {
        color: white;
    }

.product-buttons {
    display: inline-block;
    margin: auto;
    width: 100%;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    justify-self: center;
}

#permissions {
    margin-bottom: 25px;
}

#permissions-edit,
#permissions-delete,
#permissions-create {
    transition: .25s ease-in-out;
    color: #A2D2FF;
    font-size: 20px;
}

    #permissions-edit:hover,
    #permissions-delete:hover,
    #permissions-create:hover {
        color: white;
    }

.border-top {
    border-top: 3px solid white !important;
    height: 1px;
    margin-top: 10px;
    border-radius: 100%;
}

.hover-underline-animation,
.hover-underline-animation-remove {
    display: inline-block;
    position: relative;
    color: white;
    margin-bottom: 10px;
}

.hover-underline-animation-remove {
    color: darkorange;
}

    .hover-underline-animation:after,
    .hover-underline-animation-remove:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 4px;
        border-radius: 100%;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0;
        background-color: white;
        transform-origin: center;
        transition: transform 0.25s ease-out;
    }

    .hover-underline-animation-remove:after {
        background-color: darkorange;
    }

    .hover-underline-animation:hover:after,
    .hover-underline-animation-remove:hover:after {
        transform: scaleX(0.75);
        transform-origin: center;
    }
